
.favoritos-boton {
    background-color: white; 
    color: #007bff; 
    padding: 5px 5px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.favoritos-boton:hover {
    background-color: #007bff; 
    color: white; 
}

.favoritos-boton a {
    text-decoration: none;
    color: inherit; 
}