/* Contenedor general de la página de detalle */
.movie-detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 40px; /* Espacio entre la imagen y los detalles */
    max-width: 1200px;
    margin: 0 auto; /* Centrar el contenedor */
}

/* Contenedor de la imagen */
.movie-image {
    flex: 1; /* Ocupa el 40% del espacio */
    max-width: 300px;
    text-align: center;
}

.movie-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Contenedor de los detalles */
.movie-details {
    flex: 2; /* Ocupa el 60% del espacio */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: strech;
}

/* Estilo del título */
.movie-details h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* Detalles generales */
.movie-details p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Texto en negrita para los títulos de los detalles */
.movie-details p strong {
    color: #333;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    .movie-detail-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .movie-details {
        padding: 10px;
        width: 100%;
    }

    .movie-image {
        max-width: 100%;
        margin-bottom: 20px;
    }
}