.movie-detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 0px;
    gap: 40px; 
    max-width: 1200px;
    margin-top: 20px;
    margin: 0 auto; 
}

.movie-image {
    flex: 1; 
    max-width: 300px;
    text-align: center;
}

.movie-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-details {
    flex: 2;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    align-items: strech;
}

.movie-details h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 5px;
}

.movie-details p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.movie-details p strong {
    color: #333;
}

.page-name{
    margin-left: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .movie-detail-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .movie-details {
        padding: 10px;
        width: 100%;
    }

    .movie-image {
        max-width: 100%;
        margin-bottom: 20px;
    }
}